/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fira Sans', sans-serif;
}

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

.footer-general {
    color: rgba(255, 255, 255, 0.788);
    background: #ff2c1f;
    padding: 20px 0;
    width: 100vw;
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 1000;
}

/* Estilo para el contenedor principal del pie de página */
.footer-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
}

.footer-name h4,
.footer-disclaimer p,
.footer-quejas p {
    margin-bottom: 10px;
}

/* Estilos para la sección de nombre, descargo de responsabilidad y quejas */
.footer-name,
.footer-disclaimer,
.footer-quejas {
    text-align: left;
}

/* Estilos para los enlaces de redes sociales */
.footer-social {
    text-align: right;
}

.footer-social ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.footer-social ul li {
    margin-left: 10px;
}

.footer-social ul li a {
    display: inline-block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #333;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
}

a {
    text-decoration: none;
    color: black;
}

.footer-social ul li a i {
    line-height: 40px;
}

@media (max-width: 768px) {
    .footer-container {
        flex-direction: column;
        text-align: center;
    }
    .footer-social ul {
        justify-content: center;
        padding-top: 20px;
    }
    .footer-social ul li {
        margin: 0 5px;
    }
}